.row-item-link + .list-inner > .forumtitle { 
	color: #FF0000; 
} 

.row-item-link + .list-inner > .topictitle { 
	color: #FF0000; 
} 

.row-item-link + .list-inner > .subforum.unread { 
	color: #FF0000; 
}

.row-item-link + .list-inner > .forumtitle:hover {
	color: #FF9900;
}

.row-item-link + .list-inner > .topictitle:hover {
	color: #FF9900;
}

.row-item-link + .list-inner > .subforum.unread:hover {
	color: #FF9900;
}